<h1>Listing user_rols</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @user_rols.each do |user_rol| %>
  <tr>
    <td><%= user_rol.name %></td>
    <td><%= link_to 'Show', user_rol %></td>
    <td><%= link_to 'Edit', edit_user_rol_path(user_rol) %></td>
    <td><%= link_to 'Destroy', user_rol, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User rol', new_user_rol_path %>
