<%= simple_form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.input :name %>
  </div>
  <div class="field">
    <%= f.input :last_name %>
  </div>
  <div class="field">
    <%= f.input :maternal_name %>
  </div>
  <div class="field">
    <%= f.label :gender %><br />
    <%= f.select(:gender, options_for_select({"Femenino" => "F", "Masculino" => "M"}, @user.gender), :prompt => "Select") %>
  </div>
  <div class="field">
    <%= f.label :document_type %><br />
    <%= f.select(:document_type, options_for_select({"DNI" => "DNI", "TIU" => "TIU"}, @user.document_type), :prompt => "Select") %>
  </div>
  <div class="field">
    <%= f.label :document_number %><br />
    <%= f.text_field :document_number %>
  </div>
    <div class="field">
    <%= f.label :confirm_document_number %><br />
    <input type="text" id="confirm_document_number">
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, placeholder: 'user@domain.com' %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password%>
  </div>
      <div class="field">
    <%= f.label :confirm_password %><br />
    <%= f.password_field :password, :id => "repass" %>

  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
