<h1>Listing users</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Last name</th>
    <th>Maternal name</th>
    <th>Gender</th>
    <th>Document type</th>
    <th>Document number</th>
    <th>Email</th>
    <th>Password</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.last_name %></td>
    <td><%= user.maternal_name %></td>
    <td><%= user.gender %></td>
    <td><%= user.document_type %></td>
    <td><%= user.document_number %></td>
    <td><%= user.email %></td>
    <td><%= user.password %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>
