<%= form_for(@band_member) do |f| %>
  <% if @band_member.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@band_member.errors.count, "error") %> prohibited this band_member from being saved:</h2>

      <ul>
      <% @band_member.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :band_id %>
    <%= f.number_field :band_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %>
    <%= f.number_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
