<h1>Listing band_members</h1>

<table>
  <tr>
    <th>Band</th>
    <th>Band style</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @band_members.each do |band_member| %>
  <tr>
    <td><%= band_member.band_id %></td>
    <td><%= band_member.band_style_id %></td>
    <td><%= band_member.user_id %></td>
    <td><%= link_to 'Show', band_member %></td>
    <td><%= link_to 'Edit', edit_band_member_path(band_member) %></td>
    <td><%= link_to 'Destroy', band_member, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Band member', new_band_member_path %>
