<h1>Listing band_styles</h1>

<table>
  <tr>
    <th>Band</th>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @band_styles.each do |band_style| %>
  <tr>
    <td><%= band_style.band_id %></td>
    <td><%= band_style.name %></td>
    <td><%= link_to 'Show', band_style %></td>
    <td><%= link_to 'Edit', edit_band_style_path(band_style) %></td>
    <td><%= link_to 'Destroy', band_style, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Band style', new_band_style_path %>
